<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
  <title layout:fragment="title">상품 비교</title>
  <link rel="stylesheet" th:href="@{/css/WeddingProductCompare.css}">
</head>
<body>
<section layout:fragment="content">
  <div class="page" id="product-compare">
    <div th:replace="~{fragments/MainSideBar :: sidebar(user=${user}, active='WeddingPlanner/WeddingProductCompare', progress=${progressPercent})}"></div>

    <main class="content">
      <header class="page-header">
        <h1 class="title section-title"><i class='bx bx-git-compare'></i> 상품 비교</h1>
        <p class="desc">상품 비교는 DIY 페이지 하단에서 표시됩니다.</p>
        <div class="actions">
          <a class="btn brand" th:href="@{/planner/diy/compare}"><i class='bx bx-show-alt'></i> DIY에서 비교 보기</a>
        </div>
      </header>
    </main>
  </div>
</section>
</body>
</html>
