<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title layout:fragment="title">myPage | my Wedding plan</title>
	<link rel="stylesheet" th:href="@{/css/Mypage.css}">
	<script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<script src="/js/payment.js" defer></script>
	
	<style>
		
	</style>
</head>

<body>
	<section layout:fragment="content">
	  <div class="page">

	    <!-- 좌측 사이드바 -->
	    <div th:replace="~{fragments/MypageSideBar :: sidebar(user=${user}, active='MyWeddingPlan', progress=${contract_progress}, totalBudget=${totalBudget}, sumBudget=${sumBudget})}"></div>

		<div class="cards">
	    <!-- 우측 본문 -->
	    <main class="content">
			<header class="page-header">
			<h1 class="title">my 웨딩 플랜</h1>
			<div class="progress-card">
				<div class="progress-item">
					<h4>결혼 준비 진행율</h4>
					<div class="progress-container">
						<div id="progress-bar" class="progress-bar" th:style="'width:' + ${contract_progress}+'%'">
							<span th:text="${contract_progress} + '%'"></span>
						</div>
					</div>
				</div>
				<div class="progress-item">
					<h4>예산 사용율</h4>
					<div class="progress-container">
						<div class="progress-bar" th:style="'width:' + ${paid_progress}+'%'">
							<span th:text="${paid_progress} + '%'"></span>
						</div>
					</div>
				</div>
			</div>
			</header>
			<div class="total-card">
				<h3 th:if="${discount != 0}">💡 저장된 상품은 패키지 상품으로 <span th:text="|${discount}%|"></span> 할인 적용됩니다.</h3>
				<h5 th:if="${discount != 0}">⚠️ 개별항목 수정시 할인적용이 불가능 합니다.</h5>
				<form class="total">
					<div class="total">총 예상 견적: <span th:text="${total_cost}"
							style="text-decoration: underline;"></span> 원
						<input type="hidden" name="cost" th:value="${total_cost}">
						<input type="hidden" name="product_name" th:value="'전체 플랜 결제'">
						<input type="hidden" name="category" th:value="4">
						<input type="hidden" name="discount" th:value="${discount}">
						<button type="button" class="payBtn">전체 항목 결제하기</button>

					</div>
				</form>
			</div>

			<!-- 웨딩홀 카드 -->
			<div class="dash">
				<article class="card-dash">

					<div class="card-content">
						
							<img th:src="@{'/img/' + ${hallInfo.img}}" alt="웨딩홀 이미지" class="card-image" />
							<div class="card-details">
								<div class="card-info">
									<h3 th:text="${hallInfo.product_name}">웨딩홀명</h3>
									<div class="card-price" th:text="${hallInfo.cost}">가격</div>
									<div class="card-address" th:text="${hallInfo.address}">주소</div>
									<div class="card-description" th:text="${hallInfo.description}">설명</div>
								</div>
								<div class="card-controls">
									<div class="hall">
									<div class="control-row">
										<input type="checkbox" class="check_box" name="contract_hall_ch"
											id="contract_hall_ch" th:field="*{planprog.contract_hall_ch}" onchange="updateContract(this)"/>
										<label for="hall_contract">계약완료</label>
									</div>
									<div class="control-row">
										<input type="checkbox" class="check_box" name="pay_hall" id="pay_hall"
											th:field="*{planprog.pay_hall_ch}" />
										<label for="hall_paid">결제완료</label>
										<span th:text="${planprog.pay_hall}" class="underline-width"></span>
										<form class="pay">
											<input type="hidden" name="cost" th:value="${hallInfo.cost}">
											<input type="hidden" name="product_name"
												th:value="${hallInfo.product_name}">
											<input type="hidden" name="category" th:value="${hallInfo.category}">
											<button type="button" class="payBtn">항목 결제하기</button>
										</form>
									</div>
									<button type="button" class="btn" onclick="location.href='planner/WeddingDIY'">
										다른 업체 보러가기
									</button>
									</div>
								</div>
							</div>
						</div>
					
				</article>

				<!-- 스튜디오 카드 -->
				<article class="card-dash">
					<div class="card-content">
							<img th:src="@{'/img/' + ${studioInfo.img}}" alt="스튜디오 이미지" class="card-image" />
							<div class="card-details">
								<div class="card-info">
									<h3 th:text="${studioInfo.product_name}">스튜디오명</h3>
									<div class="card-price" th:text="${studioInfo.cost}">가격</div>
									<div class="card-address" th:text="${studioInfo.address}">주소</div>
									<div class="card-description" th:text="${studioInfo.description}">설명</div>
								</div>
								<div class="card-controls">
									<div class="stud">
									<div class="control-row">
										<input type="checkbox" name="contract_stud_ch" id="contract_stud_ch"
											th:field="*{planprog.contract_stud_ch}" />
										<label for="studio_contract">계약완료</label>
									</div>
									<div class="control-row">
										<input type="checkbox" class="check_box" name="pay_stud" id="pay_stud"
											th:field="*{planprog.pay_stud_ch}" />
										<label for="studio_paid">결제완료</label>
										<span th:text="${planprog.pay_stud}" class="underline-width"></span>
										<form class="pay">
											<input type="hidden" name="cost" th:value="${studioInfo.cost}">
											<input type="hidden" name="product_name"
												th:value="${studioInfo.product_name}">
											<input type="hidden" name="category" th:value="${studioInfo.category}">
											<button type="button" class="payBtn">항목 결제하기</button>
										</form>
									</div>
									<button type="button" class="btn" onclick="location.href='planner/WeddingDIY'">
										다른 업체 보러가기
									</button>
								</div>
								</div>
							</div>
						</div>
				</article>

				<!-- 드레스 카드 -->
				<article class="card-dash">
					<div class="card-content">
							<img th:src="@{'/img/' + ${dressInfo.img}}" alt="드레스 이미지" class="card-image" />
							<div class="card-details">
								<div class="card-info">
									<h3 th:text="${dressInfo.product_name}">드레스명</h3>
									<div class="card-price" th:text="${dressInfo.cost}">가격</div>
									<div class="card-address" th:text="${dressInfo.address}">주소</div>
									<div class="card-description" th:text="${dressInfo.description}">설명</div>
								</div>
								<div class="card-controls">
									<div class="dres">
									<div class="control-row">
										<input type="checkbox" class="check_box" name="contract_dres_ch"
											id="contract_dres_ch" th:field="*{planprog.contract_dres_ch}" onchange="updateContract(this)" />
										<label for="dress_contract">계약완료</label>
									</div>
									<div class="control-row">
										<input type="checkbox" name="pay_dres" id="pay_dres"
											th:field="*{planprog.pay_dres_ch}" />
										<label for="dress_paid">결제완료</label>
										<span th:text="${planprog.pay_dres}" class="underline-width"></span>
										<form class="pay">
											<input type="hidden" name="cost" th:value="${dressInfo.cost}">
											<input type="hidden" name="product_name"
												th:value="${dressInfo.product_name}">
											<input type="hidden" name="category" th:value="${dressInfo.category}">
											<button type="button" class="payBtn">항목 결제하기</button>
										</form>
									</div>
									<button type="button" class="btn" onclick="location.href='planner/WeddingDIY'">
										다른 업체 보러가기
									</button>
								</div>
								</div>
								</div>
						</div>
					
				</article>

				<!-- 메이크업 카드 -->
				<article class="card-dash">
					<div class="card-content">
						
							<img th:src="@{'/img/' + ${makeupInfo.img}}" alt="메이크업 이미지" class="card-image" />
							<div class="card-details">
								<div class="card-info">
									<h3 th:text="${makeupInfo.product_name}">메이크업샵명</h3>
									<div class="card-price" th:text="${makeupInfo.cost}">가격</div>
									<div class="card-address" th:text="${makeupInfo.address}">주소</div>
									<div class="card-description" th:text="${makeupInfo.description}">설명</div>
								</div>
								<div class="card-controls">
									<div class="make">
									<div class="control-row">
										<input type="checkbox" name="contract_make_ch" id="contract_make_ch"
											th:field="*{planprog.contract_make_ch}" />
										<label for="makeup_contract">계약완료</label>
									</div>
									<div class="control-row">
										<input type="checkbox" class="check_box" name="pay_make" id="pay_make"
											th:field="*{planprog.pay_make_ch}" />
										<label for="makeup_paid">결제완료</label>
										<span th:text="${planprog.pay_make}" class="underline-width"></span>
										<form class="pay">
											<input type="hidden" name="cost" th:value="${makeupInfo.cost}">
											<input type="hidden" name="product_name"
												th:value="${makeupInfo.product_name}">
											<input type="hidden" name="category" th:value="${makeupInfo.category}">
											<button type="button" class="payBtn">항목 결제하기</button>
										</form>
									</div>
									<button type="button" class="btn" onclick="location.href='planner/WeddingDIY'">
										다른 업체 보러가기
									</button>
								</div>
								</div>
							</div>
						</div>
					</article>
						</div>
				</main>
				</div>
				</div>
				</section>

</body>
<script src="/js/checkbox_progressbar_db.js"></script>
<script src="/js/checkbox_control.js"></script>
</html>