<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<nav>
  <div class="nav-center">
    <div class="nav-item">
      <a href="#banking" class="nav-link">뱅킹서비스</a>
      <div class="dropdown">
        <a href="#">계좌생성</a>
        <a href="#">이체</a>
        <a href="#">세이프박스</a>
        <a href="#">테스트메뉴</a>
        
        <!-- 하단 고정 푸터: SVG/아이콘/문구 배치 -->
  		<div class="dropdown-footer">
    	<img src="/img/wings-diamond.svg" alt="menu badge">
    	<!-- 또는 인라인 SVG 가능: <svg viewBox="0 0 24 24">...</svg> -->
    	<!-- <span>이벤트 진행중</span> (원하시면 텍스트 추가) -->
  		</div>
      </div>
    </div>
    <div class="nav-item">
      <a href="#wedding" class="nav-link">웨딩플래너</a>
      <div class="dropdown">
        <a href="#">추천테마</a>
        <a href="#">DIY</a>
        
        <div class="dropdown-footer">
    	<img src="/img/wings-diamond.svg" alt="menu badge">
  		</div>
      </div>
      
    </div>
    <div class="nav-item">
      <a href="#loan" class="nav-link">대출</a>
      <div class="dropdown">
        <a href="#">대출상품</a>
        <a href="#">대출상환</a>
        
        <div class="dropdown-footer">
    	<img src="/img/wings-diamond.svg" alt="menu badge">
  		</div>
      </div>
    </div>
    <div class="nav-item">
      <a href="#mypage" class="nav-link">마이페이지</a>
    </div>
  </div>

  <div class="user-profile">
  
  <label for="profileToggle" class="profile-label">
  <img src="/img/profile.png" class="profile-img" />
  <span class="username">사용자</span>
  <span class="arrow">▼</span>
  </label>


  <!-- 3. 드롭다운: 토글되면 보이게 -->
  <div class="usernav-item">
  	<a href="/budget" class="dropdown2">마이페이지</a>
    <a href="/budget" class="dropdown2">내 보유예산</a>
    <a href="/mypage" class="dropdown2">개인정보 수정</a>
    <a href="/logout" class="dropdown2">로그아웃</a>
  </div>
</div>

</nav>
</html>

  
