<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/totdesign}">
		<!--공통layout의 경로를 의미하여 layout 기본소스는 totdesign.html이다.-->
<meta charset="UTF-8">
<th:block layout:fragment="BaseStructure">
<title>0811header디자인</title>

<link th:href="@{/css/design.css}" rel="stylesheet" />
</th:block>

<head>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- tsparticles JS -->
  <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
  <meta charset="UTF-8" />
  <title>Own Wedding Wallet</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />
</head>

<body>
<th:block layout:fragment="header" th:insert="~{@{/fragments/header}}"></th:block>
<th:block layout:fragment="nav" th:insert="~{@{/fragments/nav}}"></th:block>
<th:block layout:fragment="content" th:insert="~{@{/fragments/content}}"></th:block>
<th:block layout:fragment="footer" th:insert="~{@{/fragments/footer}}"></th:block>						
</body>
</html>

