<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title">myPage | 소비정보 조회</title>
	<link rel="stylesheet" th:href="@{/css/Mypage.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function () {
			const ctx = document.getElementById('chart').getContext('2d');

			const hall = /*[[${planprogress.pay_hall}]]*/ 0;
			const studio = /*[[${planprogress.pay_stud}]]*/ 0;
			const dress = /*[[${planprogress.pay_dres}]]*/ 0;
			const makeup = /*[[${planprogress.pay_make}]]*/ 0;

			new Chart(ctx, {
				type: 'pie',
				data: {
					labels: ['웨딩홀', '스튜디오', '드레스', '메이크업'],
					datasets: [{
						data: [hall, studio, dress, makeup],
						backgroundColor: [
							'rgba(0, 102, 255, 0.5)',
							'rgba(0, 204, 102, 0.5)',
							'rgba(255, 153, 0, 0.5)',
							'rgba(255, 51, 102, 0.5)'
						],
						borderColor: [
							'rgba(0, 102, 255, 1)',
							'rgba(0, 204, 102, 1)',
							'rgba(255, 153, 0, 1)',
							'rgba(255, 51, 102, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					responsive: false,  // 반응형 해제
					plugins: {
						title: {
							display: true,
							text: '항목별 지출 현황'
						},
						legend: {
							display: true,
							position: 'top'
						}
					}
				}
			});
		});
	</script>


</head>


<body>
	<section layout:fragment="content">
		<div class="page">

			<!-- 좌측 사이드바 -->
			<div
				th:replace="~{fragments/MypageSideBar :: sidebar(user=${user}, active='ConsumptionInfo', progress=${contract_progress}, totalBudget=${totalBudget}, sumBudget=${sumBudget})}">
			</div>

			<div class="cards">
				<!-- 우측 본문 -->
				<main class="content">
					<header class="page-header">
						<div>
							<h1 class="title">소비정보 조회</h1>
							<p class="desc">소비정보를 확인하고 관리해보세요💸</p>
						</div>
					</header>

					<!-- 예산 카드 -->
					<div class="consum-card">
						<div class="total">
							<h3>전체 정보 요약 분석</h3>
							<div class="total-progress">
								<div class="progress-container">
									<div class="progress-bar" th:style="'width:' + ${totalProgress}+'%'"></div>
									<span th:text="${totalProgress} + '%'" th:style="'left: calc(' + ${totalProgress} + '% + 7px)'"></span>
								</div>
								<span><strong>총 예산: </strong></span><span th:text="${Amount}">-</span> 원<br>
								<span><strong>사용금액: </strong></span><span th:text="${paidAmount}">-</span> 원<br>
								<span><strong>잔여금액: </strong></span><span th:text="${Amount - paidAmount}">-</span>
								원<br>
							</div>
						</div>
						<div class="item-consum">
							<h3>항목별 지출 정보</h3>
							<div class="wrap">
								<h3>웨딩홀</h3>
								<div class="progress-container">
									<div class="progress-bar" th:style="'width:' + ${hallProgress}+'%'"></div>
									<span th:text="${hallProgress} + '%'"
										th:style="'left: calc(' + ${hallProgress} + '% + 5px)'"></span>
								</div>

							</div>

							<div class="wrap">
								<h3>스튜디오</h3>
								<div class="progress-container">
									<div class="progress-bar" th:style="'width:' + ${studioProgress}+'%'"></div>
									<span th:text="${studioProgress} + '%'"
										th:style="'left: calc(' + ${studioProgress} + '% + 5px)'"></span>
								</div>
							</div>
							<div class="wrap">
								<h3>드레스</h3>
								<div class="progress-container">
									<div class="progress-bar" th:style="'width:' + ${dressProgress}+'%'"></div>
									<span th:text="${dressProgress} + '%'"
										th:style="'left: calc(' + ${dressProgress} + '% + 5px)'"></span>
								</div>
							</div>
							<div class="wrap">
								<h3>메이크업</h3>
								<div class="progress-container">
									<div class="progress-bar" th:style="'width:' + ${makeupProgress}+'%'"></div>
									<span th:text="${makeupProgress} + '%'"
										th:style="'left: calc(' + ${makeupProgress} + '% + 5px)'"></span>
								</div>
							</div>
						</div>
						<div class="pattern">
							<h3>소비 패턴 분석</h3>
							<!-- 차트 콘텐츠 -->
							<div class="chart-container">
								<canvas id="chart" width="250" height="250"></canvas>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</section>
</body>

</html>