<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title layout:fragment="title">myPage | 차곡차곡 금고</title>
	<link rel="stylesheet" th:href="@{/css/Mypage.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/js/safeboxChart.js" defer></script>
	<script th:inline="javascript" defer>
		window.targetAmount = /*[[${targetAmount != null ? targetAmount : 0}]]*/ 0;
		window.savedAmount = /*[[${savedAmount != null ? savedAmount  : 0}]]*/ 0;
		window.historyList = /*[[${historyList}]]*/[];
		
	</script>
	<script defer>
		document.addEventListener("DOMContentLoaded", () => {
					const labels = window.historyList.map(h => h.payment_date);
					const data = window.historyList.map(h => h.amount);
					console.log("html historyList:", window.historyList);
					initChart(labels, data);
				});
	</script>
</head>

<body>
	<section layout:fragment="content">
		<div class="page">

			<!-- 좌측 사이드바 -->
			<div th:replace="~{fragments/MypageSideBar :: sidebar(user=${user}, active='safe_box', progress=${contract_progress}, totalBudget=${totalBudget}, sumBudget=${sumBudget})}"></div>

			<div class="cards">
				<!-- 우측 본문 -->
				<main class="content">
					<header class="page-header">
						<div>
							<h1 class="title">차곡차곡 금고</h1>
							<p class="desc">저금 현황을 확인하세요</p>
						</div>
					</header>

					<!-- 카드: 목표 달성율 -->
					<div class="safe-card">
							<div class="section"><h2>목표 달성율</h2></div>
							
							<div class="progress-container">
								<div class="progress-bar" th:style="'width:' + ${progress}+'%'"></div>
								<span th:text="${progress} + '%'"
									th:style="'left: calc(' + ${progress} + '% + 7px)'"></span>
							</div>
							<div class="section">
							<span><strong>목표 금액: </strong></span><span
								th:text="${targetAmount != null ? targetAmount : 0}">-</span> 원
							</div>
							<div class="section">
								<span><strong>저금한 금액: </strong></span><span
								th:text="${savedAmount != null ? savedAmount : 0}">-</span> 원
							</div>
							<div class="section">
								<span><strong>목표까지 남은 금액: </strong></span><span
								th:text="${targetAmount.subtract(savedAmount)}">-</span>
							원
							</div>
					
					</div>


					<!-- 카드: 통계 + 그래프 -->
					<div class="safe-card">
						<div class="tabs">
							<button id="tab-daily" class="tab active">일별 저금율</button>
							<button id="tab-monthly" class="tab">월별 저금율</button>
						</div>
						<div class="wrap">
							<select name="month" id="month">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select><strong> 월</strong>
						</div>

						<div class="chart-wrap">
							<canvas id="savingChart"></canvas>
						</div>
						<!--<div class="baseline"></div>-->


							<div class="section"><h2>저금 성공률</h2></div>
							<div class="progress-container">
								<div class="progress-bar" th:style="'width:' + ${save_progress}+'%'"></div>
								<span th:text="${save_progress} + '%'" th:style="'left: calc(' + ${save_progress} + '% + 7px)'"></span>
							</div>
						</div>
					 </div>
				</main>
			</div>
		</div>
	</section>


	</body>


</html>