<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
<meta charset="UTF-8">
<title layout:fragment="title">대출 가입완료 | OWW</title>
 <link rel="stylesheet" th:href="@{/css/Loanmain.css}">
</head>
<body>
	<section layout:fragment="content">
		<div class="page">
			<!-- ✅ 사이드바: 기존 프래그먼트 그대로 사용 (중복 선언 금지) -->
			<div
				th:replace="~{fragments/MainSideBar :: sidebar(user=${user}, active='LoanMain', progress=${progressPercent})}">
			</div>
			<div class="cards">
				<!-- Main Content -->
				<main class="content">
					<div class="card-complete">

						<h1>대출 가입이 성공적으로 완료되었습니다!</h1>
						<div class="btn-wrap">
								<form th:action="@{/loanmain}">
									<button type="submit" class="btn">메인으로</button>
								</form>
								<form th:action="@{/repayment}">
									<button type="submit" class="btn">대출 상환 페이지로</button>
								</form>
						</div>
					</div>
			
				</main>
			</div>
		</div>
	</section>
</body>
</html>